<div class="row sign-up-form">
  <div class="col s6 m12">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"><%= @course.name %></span>
      </div>
    </div>
  </div>
  <div class="col s6 m12">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <p><%= t('.description') %>:</p>
        <p><%= @course.description %></p>
      </div>
    </div>
  </div>
</div>
